body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: lightblue;
    color: #fff;
    padding: 10px;
}

.product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.product img {
    width: 150px;
    height: 150px;
}

button {
    background-color: lightskyblue;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.cart {
    background-color: lightblue;
    color: #fff;
    padding: 10px;
}

.cart p {
    font-weight: bold;
}

.cart #total {
    font-size: 24px;
    color: lightskyblue;
}
